.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .cardContent {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        min-width: 18rem;
        width: 100%;

        .inputBlock {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        .rememberMe {
            display: flex;
            gap: 0.5rem;
        }
    }
}